
body {
    font-family: 'Open Sans Condensed';
    padding: 20px 40px;
    
    display: flex;
    justify-content: center;

    background-color: var(--base-color);
  }
  
  a {
    text-decoration: none;
    color: black;
  }