
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
    font-family: 'Open Sans Condensed';
    padding: 20px 40px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: var(--base-color);
  }

 .app {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
  
  a {
    text-decoration: none;
    color: black;
  }